<!DOCTYPE html>
<html lang="en">
{{> include}}
  <body>
    {{> navbar}}
                <p class="bg-primary">
                    <td>Delete</td>
                </p>
    {{> footer}}
  </body>
</html>
